.putForm-1 {
    text-align: center;
    padding:2%;
    margin-left:40%;
    margin-right:40%;
}

#putDesc-1 {
    text-align: center;
    padding-bottom:200px;
    padding-top:20px;
    word-wrap: wrap break-word;
}
