<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" (click)="getSorted(headers[0], sort[0])">Title</th>
      <th scope="col" (click)="getSorted(headers[1], sort[0])">Priority</th>
      <th scope="col" (click)="getSorted(headers[2], sort[0])">Reporter</th>
      <th scope="col" (click)="getSorted(headers[3], sort[0])">Date Created</th>
      <th scope="col" (click)="getSorted(headers[4], sort[0])">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td>{{bug.title}}</td>
      <td>{{bug.priority}}</td>
      <td>{{bug.reporter}}</td>
      <td>{{bug.createdAt}}</td>
      <td>{{bug.status}}</td>
    </tr>
  </tbody>
</table>
