#btn-1 {
    margin-right:5%;
}

#btn-2 {
    margin-top:5%;
}

#btn-primary {
    border-radius: 50%;
    position: relative;
    width:3%;
    left: 15px;
    padding:10px;
    margin-bottom:2px;
    margin-top:2px;
}